<?xml version="1.0"?>
  <model>
    <name>Gripper</name>
    <version>1.0</version>
    <sdf>model.sdf</sdf>
    <author>
      <name>Nicholas Shindler</name>
      <email>shindler25@gmail.com</email>
    </author>
    <description>
      Simple gripper simulation for ROS based control mechanism
    </description>
  </model>
